.container__button{
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    cursor: pointer;
}
.container__button button{
    display: flex;
    text-align: start;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    padding-left: 30px;
    padding-right: 30px;
    border: none;
    background: none;
}

.container__button:hover{
    background-color: #dddddd;
}
.botonChico button{
    border: none;
    background: none;
    border-radius: 16px;
    margin-left: 1rem;
    padding: 0.3rem;
}
.botonChico button:hover{
    background-color: #dddddd;
}