.container{
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    
}

.container .desplegable {
    background: none;
    border: none;
    font: inherit;
    display: flex;
    flex-direction: row;
    border-radius: 16px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 30px;
    padding-right: 30px;
}

.container .desplegable:hover{
    background-color: #dddddd;
}
