.container__panel{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.5rem;
    border: 1px solid #ccc;
}

.scrollableDiv:hover {
    overflow:scroll;
    }
.scrollableDiv::-webkit-scrollbar {
        width: 7px; /* Ajusta el ancho del scrollbar */
      }
.scrollableDiv::-webkit-scrollbar-thumb {
        background: #cfcfd5; /* Color del scrollbar */
      }

.scrollableDiv::-webkit-scrollbar-track {
        background: #f1f1f1; /* Color del fondo del scrollbar */
      }



.elemento-superior {
    align-items: flex-start; /* Alinea este elemento en la parte superior */
}
.cp__separador{
    margin-left: 10%;
    margin-right: 10%;
}

.cp__derechosAutor{
    order: 99;
    margin-top: auto;
    margin-bottom: 1rem;
    align-self: flex-end;
    margin-right: 1rem;
}

.cp__derechosAutor p{
    font-size: 0.6rem;
    font-weight: 600;
    color: #434343;
}
.cp__derechosAutor a{
    text-decoration: none;
}

/*Animaciones*/

.cp__derechosAutor a:hover{
    text-decoration: underline;
}